<header class="p-1 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="0" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <div routerLink="/header">
        <img src="assets/pimsubgear.png" routerLink="/home">
        <img src="assets/pimsub.jpg" class="pimsub" routerLink="/home">
        </div>
      </div>
    </div>
  </header>