<header class="p-1 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="0" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <div routerLink="/header">
        <img src="https://media.discordapp.net/attachments/1275377791839240282/1279774263833923584/pimsubgear.png?ex=66eb6ae9&is=66ea1969&hm=dac350e4775cd6f740408ba33f34951bda8180b5d898dada3fd48331efab17ea&=&format=webp&quality=lossless&width=413&height=437" routerLink="/home">
        <img src="https://media.discordapp.net/attachments/1275377791839240282/1279770509357088898/pimsub.jpg?ex=66eb676a&is=66ea15ea&hm=16983fa8a98dcbe33cf4b44defa8f8ad171122b8ae4af9e11e922c0f16fc1d34&=&format=webp&width=997&height=165" class="pimsub" routerLink="/home">
        </div>
      </div>
    </div>
  </header>