<app-header></app-header>
<div class="container mt-5">
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4">
    <div class="col">
      <div class="card">
        <img src="https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2023/06/Product/hyperx-cloud-iii-gaming-headset-black-red-front-left-view.jpg" class="card-img-top" alt="หูฟัง" [routerLink]="['/product-list']">
        <div class="card-body">
          <h5 class="card-title">หูฟัง</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2024/03/Product/nubwo-nk44-keyboard-black-gray-front-left-view.jpg" class="card-img-top" alt="คีย์บอร์ด" [routerLink]="['/product-list']">
        <div class="card-body">
          <h5 class="card-title">คีย์บอร์ด</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2023/08/Product/logitech-g-pro-x-superlight-2-wireless-gaming-mouse-white-front-left-view.jpg" class="card-img-top" alt="เมาท์" [routerLink]="['/product-list']">
        <div class="card-body">
          <h5 class="card-title">เมาท์</h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2023/09/Product/edifier-r19bt-computer-speaker-front-view.jpg" class="card-img-top" alt="ลำโพง" [routerLink]="['/product-list']">
        <div class="card-body">
          <h5 class="card-title">ลำโพง</h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2021/03/microsoft-xbox-controller-wired.jpg" class="card-img-top" alt="จอย" [routerLink]="['/product-list']">
        <div class="card-body">
          <h5 class="card-title">จอย</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
        
  
    <div>
      <br>
      <h5 class="fst-italic">สินค้าขายดี</h5>
      <ul class="list-unstyled">
        <li>
          <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" >
            <svg class="bd-placeholder-img" width="100%" height="96" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
              <image href="https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2023/08/Product/logitech-g-pro-x-superlight-2-wireless-gaming-mouse-white-top-view.jpg" width="100%" height="100%"></image>
            </svg>
            <div class="col-lg-8">
              <h6 class="mb-0">Gpro x superlight 2</h6>
              <small class="text-body-secondary">Logitech</small>
            </div>
          </a>
        </li>
        <li>
          <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" >
            <svg class="bd-placeholder-img" width="100%" height="96" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
              <image href="https://wooting-website.ams3.cdn.digitaloceanspaces.com/612ca8920bc3a648125ffac3/615afbe3bda6a3d9f1fb4f83_Wooting-60HE-p-1080.png" width="100%" height="100%"></image>
            </svg>
            <div class="col-lg-8">
              <h6 class="mb-0">Wooting 60he</h6>
              <small class="text-body-secondary">Wooting</small>
            </div>
          </a>
        </li>
        <li>
          <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
            <svg class="bd-placeholder-img" width="100%" height="96" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
              <image href="https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2023/06/Product/hyperx-cloud-iii-gaming-headset-black-red-front-left-view.jpg" width="100%" height="100%"></image>
            </svg>
            <div class="col-lg-8">
              <h6 class="mb-0">Hyperx cloud iii</h6>
              <small class="text-body-secondary">Hyperx</small>
            </div>
          </a>
        </li>
      </ul>
      
  
        </div>
      </div>
    </div>
 <div class="d-flex gap-2 justify-content-center py-5">
</div>

