.carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.card {
  margin: 1px; /* เพิ่มช่องว่างรอบ ๆ การ์ดแต่ละใบ */
  border: 1px solid #ddd;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  border-radius: 8px;
  width: 100%;
  height: 200px; /* กำหนดความสูงของรูป */
  object-fit: cover; /* ทำให้รูปภาพครอบคลุมพอดีกับพื้นที่ */
}

.card-body {
  text-align: center;
}

.container {
  margin-top: 20px;
}

.list-unstyled {
  padding: 0;
}

.list-unstyled li {
  margin-bottom: 20px;
}

.bd-placeholder-img {
  object-fit: cover;
  border-radius: 8px;
}
